body,html
{
    font-family: sans-serif;
}

$colors:
(
    primary: #C4D7E0,
    color2: #495C83,
    color3: #7A86B6,
    color4: #EC9B3B,
    darker-color2: darken(#495C83,20%),
    darker-color4: darken(#EC9B3B,20%),
    contrast:rgb(137, 52, 52)
);

$padding: 15px;
$border: 10px;

@function color($color-name)
{
    @return map-get($colors, $color-name)
}

@mixin mobile {
    @media (max-width: 600px)
    {
        @content;
    }
}

@mixin tab {
    @media (max-width: 992px) and (min-width:601px) 
    {
        @content;
    }
}

@mixin transition {
    transition: all;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}


body
{
    margin: 0;
    width: 100%;

    #nav
    {
        width: 100%;
        background-color: color(primary);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
        z-index: 100;
        position: fixed;

        ul
        {
            height: 100%;
            margin: 0;
        
            @include mobile
            {
                    
                    padding-right: 5px;
            }
           
            list-style-type: none;
            display: flex;
            padding-right: 30px;

            li:hover
            {
                background-color: color(darker-color4);

                a
                {
                    color: white;
                }
            }

            li
            {

                @include transition();
                padding: 20px;
                a
                {
                    @include transition();
                    @include mobile
                {
                    font-size: .9rem;

                }
                    font-weight: 900;
                    font-size: 1.3rem;
                    color: color(darker-color2);
                    text-decoration: none;
                }
               
            }
            
        }
    }

    #welcome-section
    {
       
       width: 100%;
       height:100vh;
       background-color: color(darker-color2);
       background-image: linear-gradient(color(color2),color(darker-color2));
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;

       #heading
       {
            h1
            {
                font-size: 4em;
                color: white;
                font-weight: bolder;
                padding: 0px;
                margin: 0px;
            }

            p
            {
                color: color(color4);
            }
       }
 
    }


    #projects
    {
        background-color: color(darker-color4);
        
        padding: 50px $padding;
        text-align: center;
        color: white;

        h1
        {
            width:fit-content;
            margin-top: 2rem !important;
            margin: auto;
        }

        #button
        {
            width: 200px;
            padding: 20px;
            font-size: 1.1em;
            margin:20px;
            border:none;
            border-radius: 5px;
            color: white;
            background-color: color(darker-color2);
            @include transition()
           
        }

        #button:hover
        {
            background-color: color(contrast);
        }

        #list
        {

            @include mobile
            {
                padding: 0px;
            }


            padding: 20px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;

            .project-title
            {


                @include mobile
                {
                    width: 100%;
                }

                @include tab
                {
                    width: 45%;
                }

                margin: 20px;
                width: 28%;
                height: 350px;
                background-color: rgb(39, 39, 39);
                box-shadow: 10px 10px 10px rgba(0,0,0,.2);
                border-radius: 10px;
                object-fit: cover;
                overflow: hidden;
               
                img
                {
                    height: 85%;
                    
                }

                #text
                {
                    padding: 10px;
                    font-size: 1.2em;
                    
                  
                    .code
                    {
                        color:rgb(210, 137, 0);
                        visibility: hidden;
                        @include transition()
                    }

                }
            }

            .project-title:hover #text .code
            {
                visibility: visible;
            }
        }
    }

    #footer
    {
        background-color: color(darker-color2);
        height: 100vh;
      
        @include mobile
                {
                    flex-wrap: wrap;
                }

        #heading
       {
        height: 80%;
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        padding: $padding;
        text-align: center;
            h1
            {
                font-size: 4em;
                color: white;
                font-weight: bolder;
                padding: 0px;
                margin: 0px;

                @include mobile
                {
                    font-size: 2em;
                }
            }

            p
            {
                color: color(color4);
            }

            #social-media
            {
                display: flex;
                font-size: 2em;
                @include mobile
                {
                    font-size: 1em;
                }

                #media-name:hover
                {
                    margin-top: 15px;
                }

                #media-name
                {
                    @include transition();
                    margin: 20px;

                #icons
                {
                    color: white;
          
                }
                #icon-name
                {
                    color: white;
                    text-decoration: none;
                }
            }
            }

       }



    }

 
}