body, html {
  font-family: sans-serif;
}

body {
  margin: 0;
  width: 100%;
}
body #nav {
  width: 100%;
  background-color: #C4D7E0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
  position: fixed;
}
body #nav ul {
  height: 100%;
  margin: 0;
  list-style-type: none;
  display: flex;
  padding-right: 30px;
}
@media (max-width: 600px) {
  body #nav ul {
    padding-right: 5px;
  }
}
body #nav ul li:hover {
  background-color: #b06711;
}
body #nav ul li:hover a {
  color: white;
}
body #nav ul li {
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  padding: 20px;
}
body #nav ul li a {
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  font-weight: 900;
  font-size: 1.3rem;
  color: #252e42;
  text-decoration: none;
}
@media (max-width: 600px) {
  body #nav ul li a {
    font-size: 0.9rem;
  }
}
body #welcome-section {
  width: 100%;
  height: 100vh;
  background-color: #252e42;
  background-image: linear-gradient(#495C83, #252e42);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body #welcome-section #heading h1 {
  font-size: 4em;
  color: white;
  font-weight: bolder;
  padding: 0px;
  margin: 0px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2666666667);
}
body #welcome-section #heading p {
  color: #EC9B3B;
  font-size: 1.5em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2666666667);
}
body #projects {
  background-color: #b06711;
  padding: 50px 15px;
  text-align: center;
  color: white;
}
body #projects h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 2rem !important;
  margin: auto;
}
body #projects #button {
  width: 200px;
  padding: 20px;
  font-size: 1.1em;
  margin: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #252e42;
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
body #projects #button:hover {
  background-color: rgb(137, 52, 52);
}
body #projects #project-grid {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 600px) {
  body #projects #project-grid {
    padding: 0px;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 992px) and (min-width: 601px) {
  body #projects #project-grid {
    grid-template-columns: 1fr 1fr;
  }
}
body #projects #project-grid .project-title {
  margin: 20px;
  background-color: rgb(39, 39, 39);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
body #projects #project-grid .project-title img {
  width: 100%;
  height: 80%;
  border-radius: 8px 8px 0 0;
}
body #projects #project-grid .project-title #text {
  padding: 15px;
  font-size: 1em;
}
body #projects #project-grid .project-title #text .code {
  color: rgb(210, 137, 0);
  visibility: hidden;
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
body #projects #project-grid .project-title:hover #text .code {
  visibility: visible;
}
body #footer {
  background-color: #252e42;
  height: 100vh;
}
@media (max-width: 600px) {
  body #footer {
    flex-wrap: wrap;
  }
}
body #footer #heading {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  text-align: center;
}
body #footer #heading h1 {
  font-size: 4em;
  color: white;
  font-weight: bolder;
  padding: 0px;
  margin: 0px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2666666667);
}
@media (max-width: 600px) {
  body #footer #heading h1 {
    font-size: 2em;
  }
}
body #footer #heading p {
  color: #EC9B3B;
}
body #footer #heading #social-media {
  display: flex;
  font-size: 2em;
}
@media (max-width: 600px) {
  body #footer #heading #social-media {
    font-size: 1em;
  }
}
body #footer #heading #social-media #media-name:hover {
  margin-top: 15px;
}
body #footer #heading #social-media #media-name {
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  margin: 20px;
}
body #footer #heading #social-media #media-name #icons {
  color: white;
}
body #footer #heading #social-media #media-name #icon-name {
  color: white;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */